   span.arrow-icon {
    transform: rotate(90deg);
    transition: all 0.5s;
    align-items: end!important; 
  }
    span.nav-icon {
      font-size: 17px;
    }
    span.nav-title {
      margin: 10px!important;
    }
   a:hover{
     color: #2196f3!important;
   }